.skippy-icon {
  width: 25px;
  height: 20px;
  margin: 0px 10px 0px 15px;
  object-fit: contain;
  cursor: pointer;
  transition: all 0.3s ease;
}

.skippy-popup-container {
  position: relative;
  display: inline-block;
}

.skippy-card-container {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 220px;
  padding-bottom: 10px;
  border: 1px solid #e5e5e5;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.skippy-popup-container:hover .skippy-card-container {
  display: block;
  z-index: 999;
}

.skippy-card-header {
  padding: 10px;
  display: flex;
}

.skippy-card-header-left {
  display: flex;
}

.skippy-card-header img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-right: 10px;
}

.skippy-card-header-left h2 {
  font-size: 13px;
  font-weight: 600;
  color: #000000;
  margin-top: 0px;
}

.skippy-card-header-left p {
  font-size: 11px;
  font-weight: 400;
  color: #000000;
  margin-top: 5px;
}

.skippy-card-container .skippy-card-content {
  padding: 10px;
}

.skippy-card-container .skippy-card-content p {
  font-size: 1.32rem;
  line-height: 2rem;
}
