/* 
  ### Description
    This file contains the styles for the popup html.

  ### Author
    - @bismarkokletey

  ### License
    - MIT License
*/

:root {
  --primary: #ff0000;
  --primary-light: #ff000099;
  --bg: #ffffff;
  --title: #222222;
  --text: #333333;
  --text-secondary: #999999;
  --text-tertiary: #666666;
  --border-color: #cccccc;
  --border-color-secondary: #eeeeee;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--bg);
  font-family: "Inter", sans-serif;
}

body {
  min-width: 270px;
  border: none;
  border-radius: 6px;
}

/* modal header */
.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 13px;
}

.modal-header-left {
  display: flex;
  align-items: center;
}

.modal-header-left h2 {
  font-size: 0.8rem;
  color: var(--title);
  letter-spacing: 0.06rem;
  margin-bottom: 4px;
  font-family: "Inter", sans-serif;
  text-transform: capitalize;
  font-weight: 600;
}

.modal-header-left img {
  width: 33px;
  height: 33px;
  margin-right: 10px;
  object-fit: cover;
}

.modal-header-left-inner p {
  font-weight: 500;
  font-size: 0.7rem;
  font-weight: 500;
  color: var(--text);
  text-transform: capitalize;
}

/* seperator */
.seperator {
  width: 20px;
  height: 20px;
}

/* Content */
#modal-content-content {
  padding: 10px 17px;
  transition: all 0.3s ease-in-out;
}

#modal-content-content p {
  font-size: 0.8rem;
  color: var(--text);
  line-height: 1.5rem;
}
